<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - clearwox</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fontello.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/aling.css" />

    <link rel="stylesheet" type="text/css" href="~/css/uniform.default.css">
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/css/fluidbox.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/selection-sharer.css">
    <link rel="stylesheet" type="text/css" href="~/css/elastislide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/768.css">
    <link rel="stylesheet" type="text/css" href="~/css/992.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/modernizr.min.js"></script>
</head>
<body>
    <!-- page -->
    <div id="page" class="hfeed site">

        <!-- header -->
        <header id="masthead" class="site-header" role="banner">

            <!-- site-navigation -->
            <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">

                <a class="menu-toggle"><span class="lines"></span></a>

                <!-- nav-menu -->
                <div class="nav-menu">
                    <ul>
                        <li>
                            <a asp-page="/Blog/Index">Home</a>
                            <!-- level 2 -->
                            
                            <!-- level 2 -->
                        </li>
                        <li><a asp-page="/Portfolio">Portfolio</a></li>
                        <li><a asp-page="/Books">Books</a></li>
                       
                        <li>
                            <a asp-page="/About">About Me</a>
                            <!-- level 2 -->
                            
                            <!-- level 2 -->
                        </li>
                        <li><a asp-page="/Contact">Contact</a></li>
                    </ul>
                </div>
                <!-- nav-menu -->

                <a class="search-toggle toggle-link"></a>

                <!-- search-container -->
                <div class="search-container">

                    <div class="search-box">
                        <form role="search" method="get" class="search-form" action="#">
                            <label>
                                Search for
                                <input type="search" id="search-field" placeholder="type and hit enter" name="s">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
                    </div>

                </div>
                <!-- search-container -->
                <!-- social-container -->
                <div class="social-container">

                    <ul class="social">
                        <li><a class="facebook" href="#"></a></li>
                        <li><a class="twitter" href="#"></a></li>
                        <li><a class="vine" href="#"></a></li>
                        <li><a class="dribbble" href="#"></a></li>
                        <li><a class="instagram" href="#"></a></li>
                    </ul>


                </div>
                <!-- social-container -->

            </nav>
            <!-- site-navigation -->
            <!-- site-title -->
            <h1 class="site-title">
                <a href="index.html" rel="home">
                    <img src="~/images/logo.png" alt="logo">
                    <!--EDITOR-->
                </a>
            </h1>
            <!-- site-title -->
            <!--<h1 class="site-title">
            <a href="../index.html" rel="home">
                EDITOR
            </a>
        </h1>
        <p class="site-description">just another minimalist theme.</p>-->


        </header>
        <!-- header -->

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!-- site-footer -->
        <footer id="colophon" class="site-footer" role="contentinfo">

            <!-- layout-medium -->
            <div class="layout-medium">

                <!-- footer-social -->
                <div class="footer-social">

                    <ul class="social">
                        <li><a class="facebook" href="#"></a></li>
                        <li><a class="twitter" href="#"></a></li>
                        <li><a class="google-plus" href="#"></a></li>
                        <li><a class="dribbble" href="#"></a></li>
                        <li><a class="instagram" href="#"></a></li>
                        <li><a class="vine" href="#"></a></li>
                    </ul>

                </div>
                <!-- footer-social -->
                <!-- footer-sidebar -->
                <div class="footer-sidebar widget-area" role="complementary">

                    <!-- widget -->
                    <aside class="widget widget_text">
                        <h3 class="widget-title">About Me</h3>
                        <div class="textwidget">
                            <img src="~/images/about-small.jpg" alt="avatar"> <p>Hello. I am a freelance writer. I live in a small town somewhere in the world.</p>
                        </div>
                    </aside>
                    <!-- widget -->
                    <!-- widget -->
                    <aside class="widget widget_tag_cloud">
                        <h3 class="widget-title">Tags</h3>
                        <div class="tagcloud"> <a href="#" title="1 topic" style="font-size: 8pt;">adaptive</a> <a href="#" title="2 topics" style="font-size: 22pt;">design</a> <a href="#" title="1 topic" style="font-size: 8pt;">html</a> <a href="#" title="2 topics" style="font-size: 22pt;">responsive</a> <a href="#" title="2 topics" style="font-size: 22pt;">think</a> <a href="#" title="1 topic" style="font-size: 8pt;">web design</a> <a href="#" title="1 topic" style="font-size: 8pt;">css</a> <a href="#" title="2 topics" style="font-size: 22pt;">animations</a> <a href="#" title="1 topic" style="font-size: 8pt;">layout</a> <a href="#" title="2 topics" style="font-size: 14pt;">mobile</a> <a href="#" title="2 topics" style="font-size: 22pt;">think</a> <a href="#" title="1 topic" style="font-size: 8pt;">typography</a> </div>
                    </aside>
                    <!-- widget -->
                    <!-- widget : categories -->
                    <aside class="widget widget_categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            <li class="cat-item"><a href="#" title="View all posts filed under Nature">Nature</a></li>
                            <li class="cat-item"><a href="#" title="View all posts filed under Life">Life</a></li>
                            <li class="cat-item"><a href="#" title="View all posts filed under Adventure">Adventure</a></li>
                            <li class="cat-item"><a href="#" title="View all posts filed under Freebies">Travel</a></li>
                            <li class="cat-item"><a href="#" title="View all posts filed under Sport">Sport</a></li>
                        </ul>
                    </aside>
                    <!-- widget : categories -->
                    <!-- widget -->
                    <aside class="widget widget_recent_entries">
                        <h3 class="widget-title">Recent Posts</h3>
                        <ul>
                            <li><a href="#">Runaway A Road Adventure</a></li>
                            <li><a href="#">All In Our Head</a></li>
                            <li><a href="#">Smaller Plate</a></li>
                            <li><a href="#">Alice On The Roof</a></li>
                            <li><a href="#">Becoming A DragonFly</a></li>
                        </ul>
                    </aside>
                    <!-- widget -->


                </div>
                <!-- footer-sidebar -->


            </div>
            <!-- layout-medium -->
            <!-- .site-info -->
            <div class="site-info">

                <!-- layout-medium -->
                <div class="layout-medium">

                    <p>crafted with <i class="pw-icon-heart"></i> <em>by</em> Pixelwars</p>

                </div>
                <!-- layout-medium -->

            </div>
            <!-- .site-info -->



        </footer>
        <!-- site-footer -->

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


        <script src="~/js/fastclick.js"></script>
        <script src="~/js/jquery.fitvids.js"></script>
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/jquery.uniform.min.js"></script>
        <script src="~/js/imagesloaded.pkgd.min.js"></script>
        <script src="~/js/jquery.isotope.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/jquery.fluidbox.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/readingTime.js"></script>
        <script src="~/js/selection-sharer.js"></script>
        <script src="~/js/r-gallery.js"></script>
        <script src="~/js/main.js"></script>


      
        @RenderSection("Scripts", required: false)
</div>

</body>
</html>
