@page
@model clearwox.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Blog.ID" />
            <div class="form-group">
                <label asp-for="Blog.AuthorName" class="control-label"></label>
                <input asp-for="Blog.AuthorName" class="form-control" />
                <span asp-validation-for="Blog.AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Article" class="control-label"></label>
                <input asp-for="Blog.Article" class="form-control" />
                <span asp-validation-for="Blog.Article" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.PublishDate" class="control-label"></label>
                <input asp-for="Blog.PublishDate" class="form-control" />
                <span asp-validation-for="Blog.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
